body {
    background-color: #00468B;
}

.cobalt {
    background-color: #00468B;
}

.light-grey {
    background-color: gray;
}

.eggplant {
    background-color: #3574B1;
}

a {
    cursor: pointer;
}
